body, html {
    font-family: Arial, sans-serif;
    width: 100%;;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFB79966, #FDBAA266, #E7DCFF66);
    border-radius: 21px;
  
}

.wallet-container {
    width: 280px;
    height: 480px;
    background: linear-gradien
linear-gradient(180deg, rgba(255, 183, 153, 0.4) 0%, rgba(253, 186, 162, 0.4) 32.5%, rgba(231, 220, 255, 0.4) 71%);
    ;
    border-radius: 50px;
    padding: 40px;
    z-index: -1;
}

.menu-icon {
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Ensure transitions apply smoothly */
    position: fixed;
    top: 50px;
    left: 20px;

}

.menu-icon span {
    display: block;
    height: 4px;
    width: 100%;
    background: black;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu-icon:hover span:nth-child(1),
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon:hover span:nth-child(2),
.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon:hover span:nth-child(3),
.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    background: linear-gradient(50deg, rgba(255, 183, 153, 0.7) 100%, rgba(253, 186, 162, 0.7) 100%, rgba(231, 220, 255, 0.7) 100%);
    
    z-index: 1000;
    border-radius: 23px;
    
    
}

.menu-items {
    list-style: none;
    padding: 30px;
    text-align: left;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 35px;
    
}

.menu-items li {

    border-bottom: 1px solid #000000; 
}

.menu-header {
    width: 100%;
    padding: 10px;
    text-align: right;
    
}

.close-button {
    font-size: 32px;
    cursor: pointer;
    color: black;
    position: absolute;
    left: 90%;
}

.menu.open {
    display: block;
}
.varliklar {
    width: 330px;
    height: 249px;
    
    background: rgba(238, 232, 255, 1);

    position: fixed;
    top: 330px;
    left: 15px;
    z-index: -1;
}

.kutucuk {
    width: 330px;
    height: 250px;
    border-radius: 21px;
    background: linear-gradient(0.72deg, rgba(255, 76, 0, 0.4) 39.47%, rgba(43, 0, 134, 0.4) 71.35%);
    position: fixed;
    top: 39px;
    left: 15px;
    z-index: -1;
}

    
.gradient-box {
    width: 340px; /* Kutucuğun genişliği */
    height: 38px; /* Kutucuğun yüksekliği */
    border-radius: 21px; /* Kutucuğun kenar yarıçapı */
    background: linear-gradient(to right, #FFB799, #D8A5C6, #A998CD); /* Üç renkli gradyan */
    position: fixed;
    top: 0;
    left: 9px;
    z-index: -1; /* Cüzdan içeriğinin üstünde olması için */
    
}




.logo img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    position: fixed;
    top: 50px;
    left: 160px;


}


.arfcoin img{

    width: 25px;           /* Genişlik */
    height: 25px;          /* Yükseklik */
    border-radius: 15%; 
    background-image: url('arfcoin.png'); 
    background-size: cover;
    position: fixed;
    top: 342px;
    left: 30px;
    z-index: 6;
}


.ethcoin img{

        width: 28px;           /* Genişlik */
        height: 28px;          /* Yükseklik */
        border-radius: 15%; 
        background-image: url('ethcoin.png'); 
        background-size: cover;
        position: fixed;
        top: 381px;
        left: 29px;
        z-index: 6;

    }



.nft-profile {

    width: 61px;           /* Genişlik */
    height: 61px;          /* Yükseklik */
    border-radius: 50%; 
    background-image: url('nft-monkey.jpg'); 
    background-size: cover;
    position: fixed;
    top: 60px;
    left: 265px;

}

.hesap-adi {

    position: fixed;
    top: 5px;
    left: 155px;

}

.adres {

    position: fixed;
    top: 20px;
    left: 165px;

    font-size: 11px;
}



.para-degeri {

    position: fixed;
    top: 160px;
    left: 105px;
    z-index: 5;
    color: black;
    font-size: 15px;
    z-index: 1;

}

.dropdown {
    position: fixed;
    top: 125px;
    left: 110px;
    display: inline-block;
    z-index: 2;
  }
  
  .dropbtn {
    background:linear-gradient(90deg, rgba(194, 100, 241, 0.38) 0%, #d485f8 100%);
    color: black;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 21px;
    width: 147px;
    height: 23px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background:linear-gradient(90deg, rgba(194, 100, 241, 0.38) 0%, #d485f8 100%);
    min-width: 147px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 21px;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 2;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
  }

  .assets-coin{
    position: fixed;
    top: 280px;
    font-size: 13px;
    font-style: Inter;
    color: rgba(130, 130, 130, 1);
    ;
  }

.coin-kolon1 {
width: 320px;
height: 39px;
position: fixed;
top: 335px;
left: 20px;
border-radius: 50px;
background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
z-index: 1;

}

.coin-kolon2 {
    width: 320px;
    height: 39px;
    position: fixed;
    top: 375px;
    left: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
    z-index: 1;


}

.coin-kolon3 {
    width: 320px;
    height: 39px;
    position: fixed;
    top: 415px;
    left: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
    z-index: 1;


}

.coin-kolon4 {
    width: 320px;
    height: 39px;
    position: fixed;
    top: 455px;
    left: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
    z-index: 1;


}

.coin-kolon5 {
    width: 320px;
    height: 39px;
    position: fixed;
    top: 495px;
    left: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
    z-index: 1;


}

.coin-kolon6 {
    width: 320px;
    height: 39px;
    position: fixed;
    top: 535px;
    left: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(33, 1, 49, 0.38) 0%, #7F00BB 100%);
    z-index: 1;


}

.button-container {
    display: flex;
    gap: 20px;
    
}

.circle-button-deposit {
    width: 40px;
    height: 40px;
    background-color: #ff3c00; /* Yeşil arkaplan */
    border-radius: 50%; /* Daireyi oluştur */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    top: 175px;
    left: 270px;
    z-index: 1;
    border: 1px solid black;
}
.circle-button-withdraw {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 124, 69, 1);
    ; /* Yeşil arkaplan */
    border-radius: 50%; /* Daireyi oluştur */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    top: 175px;
    left: 50px;
    z-index: 2;
    border: 1px solid black;
}

.circle-button:hover {
    background-color: #45a049; /* Düğme üzerine gelindiğinde renk değişimi */
}

.arrow-up, .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 2;
}

.arrow-up {
    border-bottom: 10px solid white; /* Yukarı ok */
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 15px;

}

.arrow-down {
    border-top:10px solid white; /* Aşağı ok */
    z-index: 1;
    position: absolute;
}

.circle1 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 337px;
    left: 25px;
}

.circle2 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 377px;
    left: 25px;
}

.circle3 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 417px;
    left: 25px;
}

.circle4 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 457px;
    left: 25px;
}

.circle5 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 497px;
    left: 25px;
}

.circle6 {
    width: 35px;          /* Genişlik */
    height: 35px;         /* Yükseklik */
    background: rgba(217, 217, 217, 1);
/* Arka plan rengi, örneğin mavi */
    border-radius: 50%;   /* Kenarları yuvarlak yaparak daire şekli verir */
    z-index: 5;
    position: fixed;
    top: 537px;
    left: 25px;
}