.bottom-nav {
  all: unset;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  width: 359px !important; /* Cüzdanın genişliğine uyum sağlasın */
  height: 80px !important;
  position: absolute;
  bottom: 1% !important; /* Cüzdanın en altına sabitle */
  left: 25px !important;
  background-color: #F3F4F6 !important;
  border: 1px solid black !important;
 
  
}