body{
  font-family: sans-serif;
}
/* Genel sayfa arkaplanı */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F3F4F6;
}

/* Kart tasarımı */
.card {
  width: 320px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Başlık */
.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Kelime kutularını içeren alan */
.word-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5px;
  background-color: #0d247c;
  padding: 8px;
  border-radius: 12px;
}

/* Kelime kutularının stili */
.word-box {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Butonlar */
.create-button{
  margin-top: 12px;
  width: 215px;
  height: 39.1px;
  background-color: #003C9D;
  border: none;
  border-radius: 23.5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600; /* Semi-Bold */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.back-button {
  margin-top: 6px;
  width: 215px;
  height: 39.1px;
  background-color: #003C9D;
  border: none;
  border-radius: 23.5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600; /* Semi-Bold */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.create-button:hover,
.back-button:hover {
  background-color: #091a5d;
}
