/* Genel sayfa arkaplanı */
body{
  font-family: sans-serif;
}

.container {
  display: flex !important;
  flex-direction: column !important; /* İçerikleri dikey hizala */
  align-items: center !important; /* Yatayda ortala */
  justify-content: center !important; /* Dikeyde ortala */

}
  /* Başlık */
  .header12 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    position: relative;
    top: -130px;
    left: 110px;
    
  }
  
  /* Kelime kutularını içeren alan */
  .word-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    background-color: #0d247c;
    padding: 12px;
    border-radius: 12px;
  }
  
  /* Kelime kutularının stili */
  .word-box {
    background-color: #ffffff;
    width: 133px;
    height: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 23.5px;
    margin-top: 0%;
  }
  
  .create-to-import-button {
position: relative;
top: 150px;


}
