.app-container {
  width: 393px;
  height: 814px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column; /* İçerikleri dikey hizala */
  align-items: center; /* Yatayda ortala */
  justify-content: center; /* Dikeyde ortala */
  border-radius: 43px;
}

.header {
  flex-direction: column;
}

.app-logo {
  width: 200px;
  height: auto;
  margin-left: 5%;
  margin-bottom: 50px;
}

.app-title {
  color: #333;
  text-align: center;
  margin: 0;
}

.content {
  text-align: center;
  margin-top: 75px;/* Yazıyı logodan biraz aşağı al */
}

.create-wallet-button {
  width: 215px;
  height: 39.1px;
  background-color: #003C9D;
  border: none;
  border-radius: 23.5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600; /* Semi-Bold */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.create-wallet-button:hover {
  background-color: #002F7A;
}

.import-wallet-button {
  width: 215px;
  height: 39.1px;
  background-color: #003C9D;
  border: none;
  border-radius: 23.5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600; /* Semi-Bold */
  margin-bottom: 75px;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}
.import-wallet-button:hover {
  background-color: #002F7A;
}