/* Genel sayfa arkaplanı */
body{
  font-family: sans-serif;
}
.app-container {
  width: 393px;
  height: 814px;
  background-color: #F3F4F6;
  border-radius: 43px;
}
  
  
  
  /* Başlık */
  .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    align-items: center; /* Yatayda ortala */
    justify-content: center; /* Dikeyde ortala */
    
  }
  
  /* Kelime kutularını içeren alan */
  .word-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    background-color: #0d247c;
    padding: 12px;
    border-radius: 12px;
  }
  
  /* Kelime kutularının stili */
  .word-box {
    background-color: #ffffff;
    width: 133px;
    height: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 23.5px;
    margin-top: 0%;
  }
  
  