.import-container {
  width: 393px;
  height: 814px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column; /* İçerikleri dikey hizala */
  align-items: center; /* Yatayda ortala */
  justify-content: center; /* Dikeyde ortala */
 
  overflow: hidden !important;
  transform: scale(0.85); /* İçeriği %95 oranında küçült */
  transform-origin: top center;
}

.header5{
  flex-direction: column;
  padding: 0px !important;
  background-color: #F3F4F6 !important;
  position: absolute;
  top: 1px;

}
.privatekey-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.seed-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin: 20px auto;
}
