
.privatekey-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.seed-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin: 20px auto;
}
