

.header5{
  flex-direction: column;
  padding: 0px !important;
  background-color: #F3F4F6 !important;
  position: absolute;
  top: 1px;

}
.privatekey-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  position: relative;
  top: 146px;
  
}

.seed-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin: 20px auto;
  position: relative;
  top: 145px;
}

.import-wallet-button  {
position: relative;
top: 143px;
}

