
  
  /* Üst Bilgi Alanı */
  .info-section {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    top: 10px;
  }
  
  .info-badge {
    background-color: #0D247C;
    color: white;
    padding: 5px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}
    
    
  
  
  .highlight {
    font-weight: bold;
  }
  
  /* QR Kod Alanı */
  .qr-container {
    margin-top: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 30px;
  }
  
  .qr-code {
    width: 250px;
    height: 250px;
  }
  
  /* Cüzdan Adresi */
  .wallet-address {
    background-color: #0D247C;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    position: absolute;
    top: 55%;
  }
  

