/* Sayfa Boyutu Sabit */
.deposit-container {
    width: 393px;  /* Sabit genişlik */
    height: 814px; /* Sabit yükseklik */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   /* Taşan içerikleri gizler */
    overflow: hidden !important;
    transform: scale(0.85); /* İçeriği %95 oranında küçült */
    transform-origin: top center;
  }
  
  /* Üst Bilgi Alanı */
  .info-section {
    width: 50%;
    text-align: center;
    margin-top: 20px;
  }
  
  .info-badge {
    background-color: #0D247C;
    color: white;
    padding: 5px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}
    
    
  
  
  .highlight {
    font-weight: bold;
  }
  
  /* QR Kod Alanı */
  .qr-container {
    margin-top: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .qr-code {
    width: 250px;
    height: 250px;
  }
  
  /* Cüzdan Adresi */
  .wallet-address {
    background-color: #0D247C;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    position: absolute;
    top: 60%;
  }
  

  
  .menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }