body {
    font-family: Arial, sans-serif;
    width: 360px;;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFB79966, #FDBAA266, #E7DCFF66);
    border-radius: 21px;
  
}

.container {
    width: 280px;
    height: 510px;
    background-color: linear-gradient(180deg, rgba(255, 183, 153, 0.4) 0%, rgba(253, 186, 162, 0.4) 32.5%, rgba(231, 220, 255, 0.4) 71%);
    border-radius: 50px;
    padding: 40px;
    
    
    
}

#seedWordsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.grid-item {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
