.bottom-nav {
    display: flex;
    justify-content: space-around;
    width: 359px;
    height: 80px;
    margin-top: 200px;
    padding: 10px;
    background-color: #F3F4F6;
    border-radius: 50px; /* Daha düzgün oval görünüm */
    border: 1px solid black; /* Çerçeveyi düzgün yap! */
    
  }